*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: white;*/
    font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin-bottom: 05px;
  border-radius: 7px;
 
  }


/* menu de navegação lateral*/
.sidenav {
  height: 100%; /* 100% Altura total*/
  width: 0; /* 0 width - mude com javascript*/
  position: fixed; /* Fica no lugar*/
  z-index: 1; /* fica no topo*/
  top: 0;
  left: 0;
  background-color: #070707; /* Preto*/
  overflow-x: hidden; /* Desativar rolagem horizontal*/
  padding-top: 60px; /*Coloque o conteúdo a 60px do topo */
  transition: 0.5s; /* 0.5 segundo para efeito de transição deslizante no sidenav */
}

/* Links do menu de navegação*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #faf5f5;
  display: block;
  transition: 0.3s;
  align-items: center;
}

/* Ao passar o mouse sobre os links de navegação, altere sua cor*/
.sidenav a:hover {
  color: #f1f1f1;
}

/* Posicione e estilize o botão Fechar (canto superior direito)*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* 
Estilizar conteúdo da página - use isto se quiser empurrar o conteúdo da página para a direita ao abrir a navegação lateral*/
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Em telas menores, onde a altura é menor que 450px, altere o estilo do sidenav (menos preenchimento e tamanho de fonte menor) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span img{
  max-width:80px;
  max-height:80px;
  width: auto;
  height: auto;
  padding: 1px;
  border-radius: 15px;
  
}

/* Inicio estilização botoes de midia social*/
.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social_media a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e42424;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  fill: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.social_media a:not(:last-child){
  margin-right: 20px;
}

.social_media a:hover .balloon{
  bottom: -20px;
  opacity: 1;
}

.social_media svg {
  height: 35px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .2));
}

.social_media .balloon{
  position: absolute;
  bottom: -25px;
  width: 5px;
  height: 5px;
  opacity: 0;
  border-radius: 30px;
  transition: top .2s ease-in-out, opacity .2s ease-in-out;
  filter: drop-shadow(0 5px 10px rgba(0,0,0,.2));

}

.social_media .name{
  position: relative;
  border-radius: 30px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e42424;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.social_media .name::before{
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #e42424;
  transform: rotate(45deg);
  bottom: -10px;
  border-radius: 4px;
  z-index:-1;
}


.social_media a.facebook,
.social_media a.facebook .name,
.social_media a.facebook .name::before{
  background-color: #055a88;
}

.social_media a.whatsapp,
.social_media a.whatsapp .name,
.social_media a.whatsapp .name::before{
  background-color: #09a116;
}

.social_media a.telegram,
.social_media a.telegram .name,
.social_media a.telegram .name::before{
  background-color: #120fa7;
}

.social_media a.instagram,
.social_media a.instagram .name,
.social_media a.instagram .name::before{
  background-color: #e4241e;
}

/* Rodape */
footer{
  width: 100%;
  height: auto;
  display: flexbox;
  padding: 16px;
  margin-bottom: auto;
  align-items: center;
  position:relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: white;
  
}

.main-content{
  display: flex;
  justify-content: space-between;
}
.main-content .boxSocial{
  flex-basis: 50%;
  padding: 10px 20px;
}
.boxSocial h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.boxSocial .content{
  margin: 20px 0 0 0;
  position: relative;
}
.boxSocial .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.boxSocial .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
  padding: auto;
  width: 600px;
  height: 250px;

 
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: tomato;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background-image: linear-gradient(to right, orange, #ffff6a, #ff6c3e);
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .boxSocial{
    margin: 5px 0;
  }
}

/*Estilização do letreiro deslizante*/
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #111111;
  padding: 1rem 0;
  font-family: 'VT323', monospace;
  position:initial;
}

.marquee:hover .marquee__item {
  animation-play-state: paused;
}
.marquee__seperator {
  margin: 0 3rem;
  color: black;
}
.marquee__item {
  display: inline-block;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
